* {
  margin: 0;
  padding: 0; }

.navbar {
  background-color: #00006d; }
  .navbar__logo {
    height: 40px;
    width: 35px; }

body {
  background-color: white; }

#containerCard {
  margin: 30px; }
  #containerCard__uno {
    text-align: justify; }
  #containerCard__dos {
    display: flex;
    align-items: center;
    justify-content: center; }
  #containerCard__logo {
    width: 50%; }
  #containerCard__new {
    text-transform: lowercase;
    font-size: 10px; }
  #containerCard__img {
    height: 20rem; }

h1 {
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  font-size: 30px;
  margin: 20px; }

h2 {
  text-transform: uppercase;
  font-size: 25px;
  margin: 10px;
  font-family: 'Noto Serif', serif; }

p {
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 10px; }

table {
  border: 3px solid;
  text-align: center;
  margin: 20px; }

th {
  background-color: #cccccc;
  border: 1px solid;
  color: #00006d; }

tr, td {
  background-color: #cccccc;
  border: 1px solid;
  color: #00006d;
  font-family: 'Roboto', sans-serif; }

.imagenesEstadio {
  margin: 10px; }
  .imagenesEstadio__titulo {
    margin: 20px; }
  .imagenesEstadio__img {
    margin: 20px;
    display: inline-block;
    width: 320px;
    height: 300px; }

.sectionSocios {
  margin: 20px;
  display: block; }
  .sectionSocios__lista {
    color: black;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none; }
  .sectionSocios__img {
    margin: 10px;
    display: inline-block;
    width: 320px;
    height: 300px; }

.paginaContacto__legend {
  font-size: 30px;
  font-family: 'Noto Serif', serif; }

.paginaContacto__form {
  padding: 10px;
  margin: 50px; }

.paginaContacto__fondo {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; }

.paginaContacto__img {
  height: 100%;
  width: 100%; }

.carousel {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px; }
  .carousel__titulo {
    margin: 20px; }
  .carousel__img {
    height: 700px; }

.footer {
  background-color: #00006d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px; }
  .footer__parrafo {
    color: white; }

@media only screen and (min-width: 600px) {
  .sectionSocios__img {
    width: 500px;
    height: 350px; }
  .imagenesEstadio__img {
    width: 500px;
    height: 350px; } }

@media only screen and (min-width: 992px) {
  .sectionSocios__img {
    width: 600px;
    height: 400px; }
  .imagenesEstadio__img {
    width: 600px;
    height: 400px; } }
